/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.web-size {
    max-width: 1440px;
    margin: 0 auto;
}


/* Shared Styles */
.display-flex {
    display: flex;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.3rem;
    color: #131313;
}

.section-text {
    color: #727272;
    font-size: 1rem;
    line-height: 1.63rem;
}

.btn {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4rem;
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 1.3rem 1.5rem;
    border: none;
}

/* header styles */
.header-container {
    background-color: #ff900e1a;
    padding: 3.31rem 0rem 2.81rem 0rem;
}


/* navbar styles */
.navbar {
    justify-content: space-between;

}

.nav-links {
    gap: 4rem;
    align-items: center;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #424242;
    font-size: 1.13rem;
    font-weight: 500;
    line-height: 1.63rem;
}


/* banner styles */
.banner-container {
    text-align: center;
}

.banner-info {
    max-width: 53.88rem;
    margin: 0 auto;
    padding: 6.38rem 0rem 3.18rem 0rem;
}

.banner-info h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.69rem;
    color: #131313;
}

.banner-info p {
    padding: 2rem 0rem;
}

.banner-img img {
    width: 100%;
    border-radius: 0.5rem;
}




/* Media Query */
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }

    .navbar h3 {
        text-align: center;
        font-size: 2rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
    }

    .banner-info h2 {
        font-size: 2rem;
        line-height: 2rem;
    }
}


/* tablet */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar h3 {
        text-align: center;
        font-size: 2rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
    }

    .banner-info h2 {
        font-size: 2rem;
        line-height: 2rem;
    }
}



/* laptop */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        padding: 0rem 2rem;
    }

    .navbar h3 {
        font-size: 2rem;
    }

    .nav-links {
        gap: 1rem;
    }

    .banner-info h2 {
        font-size: 2rem;
        line-height: 2rem;
    }
}

/* desktop */
@media screen and (max-width: 1440px) {
    .navbar {
        padding: 0rem 2rem;
    }

    .navbar h3 {
        font-size: 2rem;
    }

    .nav-links {
        gap: 1rem;
    }

    .banner-container {
        padding: 0rem 2rem;
    }

    .banner-info h2 {
        font-size: 2rem;
        line-height: 2rem;
    }
}