/* Universal Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.web-size {
    max-width: 1440px;
    margin: 0 auto;
}


/* Shared Styles */
.display-flex {
    display: flex;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.3rem;
    color: #131313;
}

.section-text {
    color: #727272;
    font-size: 1rem;
    line-height: 1.63rem;
}

.btn {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4rem;
    background-color: #FF900E;
    color: #FFFFFF;
    border-radius: 0.5rem;
    padding: 1.3rem 1.5rem;
    border: none;
}

/* header styles */
.header-container {
    background-color: #ff900e1a;
    padding: 3.31rem 0rem 2.81rem 0rem;
}


/* navbar styles */
.navbar {
    justify-content: space-between;

}

.nav-links {
    gap: 4rem;
    align-items: center;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #424242;
    font-size: 1.13rem;
    font-weight: 500;
    line-height: 1.63rem;
}


/* banner styles */
.banner-container {
    text-align: center;
}

.banner-info {
    max-width: 53.88rem;
    margin: 0 auto;
    padding: 6.38rem 0rem 3.18rem 0rem;
}

.banner-info h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.69rem;
    color: #131313;
}

.banner-info p {
    padding: 2rem 0rem;
}

.banner-img img {
    width: 100%;
    border-radius: 0.5rem;
}


/* main */
.main-container {
    background: rgba(255, 255, 255, 1);
}

/* feature section */
.feature-container {
    gap: 4.75rem;
    padding: 5.3rem 0 8.13rem 0rem;
}

.feature-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
}

.feature-images img {
    width: 100%;
    border-radius: 0.5rem;
}

.feature-info {
    max-width: 33.5rem;
    margin: auto 0;
}

.feature-info p {
    padding: 1.5rem 0rem;
}


/* Architect Abilities Section */
.architect-container {
    gap: 9.13rem;
    margin-bottom: 10rem;
}

.architect-abilities {
    flex: 1;
}

.architect-title {
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 1.3rem;
}

.architect-text {
    padding: 1.5rem 0rem 1.9rem 0rem;
}

.abilities {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0rem 0.25rem 30rem 0rem rgba(0, 0, 0, 0.06);
    margin-bottom: 1.25rem;
    padding: 2rem;
    border-radius: 0.5rem;
}

.abilities-title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.44rem;
    margin-bottom: 0.6rem;
}

.architect-image {
    flex: 1;
}

.architect-image img {
    width: 100%;
    border-radius: 0.5rem;
}

.architect-btn {
    padding: 2.8rem;
    margin-top: -4.8rem;
    margin-left: -5.75rem;
}

#architect-badge {
    font-size: 2.75rem;
}


/* facts section */
.facts-container {}

.fact-info {
    margin-bottom: 6.26rem;
}

.fact-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.fact-card {
    border: 0.06rem solid rgba(255, 144, 14, 1);
    flex: 1;
    width: 15.11rem;
    height: 15.11rem;
    padding: 3rem 2.3rem;
    text-align: center;
    border-radius: 0.5rem;
}

.fact-title {
    color: #424242;
    padding: 1rem 0rem;
    font-size: 2rem;
}

.fact-text {
    color: #727272;
}

/* Media Query */
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }

    .navbar h3 {
        text-align: center;
        font-size: 2rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
    }

    .banner-info h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .feature-container {
        flex-direction: column;
    }

    .feature-images {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 1.5rem;
    }

    .architect-container {
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 10rem;
    }

    .architect-btn {
        padding: 1rem;
        margin: 0;
    }

    #architect-badge {
        font-size: 1rem;
    }

    .fact-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .fact-card {
        margin-bottom: 2rem;
    }
}


/* tablet */
@media screen and (min-width: 576px) and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar h3 {
        text-align: center;
        font-size: 2rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 1rem;
    }

    .banner-info h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .feature-images {
        flex: 1;
    }

    .feature-info {
        flex: 1;
    }

    .architect-container {
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 10rem;
    }

    .architect-btn {
        padding: 1rem;
        margin: 0;
    }

    #architect-badge {
        font-size: 1rem;
    }

    .fact-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .fact-card {
        margin-bottom: 2rem;
    }
}



/* laptop */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        padding: 0rem 2rem;
    }

    .navbar h3 {
        font-size: 2rem;
    }

    .nav-links {
        gap: 1rem;
    }

    .banner-info h2 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .feature-images {
        flex: 1;
    }

    .feature-info {
        flex: 1;
    }

    .architect-container {
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 10rem;
    }

    .architect-btn {
        padding: 1rem;
        margin: 0;
    }

    #architect-badge {
        font-size: 1rem;
    }

    .fact-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .fact-card {
        margin-bottom: 2rem;
    }
}

/* desktop */
@media screen and (max-width: 1440px) {
    .navbar {
        padding: 0rem 2rem;
    }

    .navbar h3,
    .banner-info h2,
    .feature-info h3,
    .architect-title {
        font-size: 2rem;
    }

    .nav-links {
        gap: 1rem;
    }

    .banner-container,
    .architect-container,
    .facts-container {
        padding: 0rem 2rem;
    }

    .feature-container {
        padding: 2rem;
    }
}